/laravel-api/node_modules
/laravel-api/public/hot
/laravel-api/public/storage
/laravel-api/storage/*.key
/laravel-api/vendor
/laravel-api/.env
/laravel-api/.env.backup
/laravel-api/.phpunit.result.cache
/laravel-api/Homestead.json
/laravel-api/Homestead.yaml
/laravel-api/npm-debug.log
/laravel-api/yarn-error.log

/laravel-api/htdocs
/laravel-api/report_*.*
/laravel-api/_ide_helper.php
/laravel-api/.vscode
/laravel-api/.idea

/front-end/.DS_Store
/front-end/node_modules/
/front-end/dist/
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*
**/*.log

/front-end/tests/**/coverage/
/front-end/tests/e2e/reports
/front-end/selenium-debug.log

# Editor directories and files
/front-end/.idea
/front-end/.vscode
/front-end/*.suo
/front-end/*.ntvs*
/front-end/*.njsproj
/front-end/*.sln
/front-end/*.local

/front-end/package-lock.json
/front-end/yarn.lock

/express-api/node_modules
